@import "/home/rius/.config/waybar/waybar.css";

*{
  font-family: "GeistMono Nerd Font", "Symbols Nerd Font Mono";
  font-weight: 500;
  font-size: 16px;
}

window#waybar {
  background: transparent;
  color: @foreground;
}


.modules-left,
.modules-right {
  margin: 8px 10px;
}


#custom-arch  {
    background: @bg-glass;
    padding: 6px 19px 6px 15px;
    margin: 0 4px;
    border-radius: 50px;
}
#clock {
    background: transparent;
    padding: 6px 12px;
    margin: 0 4px;
    border-radius: 50px;
}


#battery  {
    background: @bg-glass;
    padding: 6px 12px;
    margin: 0 4px;
    border-radius: 50px;
}
#network {
    background: @bg-glass;
    padding: 6px 12px;
    margin: 0 4px;
    border-radius: 50px;
}
#pulseaudio  {
    background: @bg-glass;
    padding: 6px 12px;
    margin: 0 4px;
    border-radius: 50px;
}


#custom-expand-icon {
    background: @bg-glass;
    padding: 6px 12px;
    margin: 0;
    border-radius: 50px 0 0 50px;
}
#tray {
    background: @bg-glass;
    padding: 6px 12px;
    margin: 0;
    border-radius: 0;
}
#bluetooth {
    background: @bg-glass;
    padding: 6px 12px;
    margin: 0;
    border-radius: 0;
}
#custom-spacer {
    background: @bg-glass;
    padding: 6px 0 6px 12px;
    margin: 0 4px 0 0;
    border-radius: 0 50px 50px 0;
}


#workspaces {
    background: @bg-glass;
    padding: 6px 12px;
    margin: 4px 0;
    border-radius: 50px;
}
#workspaces button {
    all: unset;
    padding: 0 28px;
    margin: 0 2px;
    border-radius: 50px;
}
#workspaces button.active {
    background: @blue;
}
#workspaces button.empty {
  opacity: 0.5;
}


#clock,
#battery,
#network,
#pulseaudio,
#custom-arch,
#workspaces,
#group-tray-expander {
    border: 2px solid @border;
}

